*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: rgb(252, 244, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
 max-height: 400px;
  min-width: 200px;
  max-width: 300px;
  padding: 20px;
  border: 2px solid rgb(242, 228, 228);
  box-shadow: 10px 10px 10px rgb(199, 189, 189);
  background-color:  rgb(236, 217, 196) ;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.container h1{
  margin-bottom: 20px;
  color: rgb(101, 170, 208);
  font-weight: bold;
}

.container input{
  margin-bottom: 5px;
}

.container p{
  margin-bottom: 4px;
  
}

.include #char{
  margin-bottom: 20px;
}

#generate {
  padding: 10px;
  margin-bottom: 15px;
}

#generate:hover{
  font-weight: bold;
  color: #fff;
  background-color: rgb(246, 188, 188);
}

.row{
  margin-top: -7px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}



#passResult{
  padding: 10px;
  border: 0.5px solid #eee2e2;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
}
